html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}

body {
  /* background-color: #333; */
  background-image: url(../images/bg.jpeg);
  height: 50%;
}

.header{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 11;
}
.header p{
  position: relative;
  color: white;
  font-size: 200%;
  top: -25px;
  padding: 0px 20px;
  /* border: solid red 2px; */
}
.help{
  float: left;
}
#mute{
  float: right;
  cursor: crosshair;
}

.scoreboard{
  color: white;
  font-size: 300%;
  position: relative;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  width: 300px;
  padding-left: 50px;
  border: solid 5px white;
  border-radius: 25px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
#scorevalue{
  width: 100px;
}

.gamepad{
    /* border: dashed 3px grey; */
    width: 1100px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}

.container{
  position: static;
  border-radius: 50px;
  box-shadow: 0 0 1em 1em rgba(10, 10, 10, 1);
  background-color: #820202;
  display: flex;
  width: 1000px;
  margin: auto;
  padding: 25px;
  justify-content: space-around;
}

.circle{
  align-self: center;
  border: solid 5px #222;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 5px 5px 5px 5px;
  box-shadow: #111 3px 15px 5px;
  cursor: pointer;
}
.circle:active{
  position: relative;
  top: 2px;
}

#c1{
  background-color: #0389ff;
}
#c2{
  background-color:#bbbb03;
}
#c3{
  background-color: #32c918;
}
#c4{
  background-color: #b80202;
}
#activator{
  position: relative;
  top: -270px;
  background-color: rgba(0, 255, 0, 0);

}

.cBlank{
  background: rgba(255, 0, 0, 0);
}
.cActive{
  visibility: visible;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%);
  border: solid 5px #111;
}

.start{
  display: flex;
  justify-content: center;
}

#startbutton{
  font-size: 300%;
  font-weight: bold;
  margin-top: 50px;
  cursor: pointer;
  margin-right: 30px;
  background-color: rgba(180, 60, 180, 1);
  border: solid #000 5px;
  animation: pulsating .43s linear 0s infinite alternate;
}
#startbutton:hover{

}
.hello{
  visibility: visible;
  position: fixed;
  background-blend-mode: hue;
  /* background-color: rgba(10, 10, 10, 0.5); */
  background: radial-gradient(ellipse at center, rgba(0,0,0,1) 30%,rgba(0,0,0,0.5) 100%);
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  cursor: pointer;
}
#hello{
  background-color: rgba(255, 255, 255, 0.8);
  animation: pulsatingWhite 1s linear 0s infinite alternate;
}

.aftermath{
  visibility: hidden;
  position: fixed;
  background-image: url(../images/abstract.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
}

.info{
  text-align: center;
  margin: auto;
  margin-top: 15%;
  padding: 25px 25px 25px 25px;
  color: black;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
}

#retrybutton{
  font-size: 200%;
  background-color: #00baf0;
  border-radius: 10px;
  font-weight: 700;
  box-shadow: 2px 5px 5px black;
  border: solid 2px black;
}
#retrybutton:active{
  position: relative;
  top: 2px;
}

@keyframes pulsating{
  0% {box-shadow: 0 0 2rem 0.5rem rgba(200, 0, 200, 0.1);}
  100% {box-shadow: 0 0 2rem 0.5rem rgba(200, 0, 200, 0.8);}
}
@keyframes pulsatingWhite{
  0% {box-shadow: 0 0 2rem 0.5rem rgba(255, 255, 255, 0.3);}
  100% {box-shadow: 0 0 2rem 0.5rem rgba(255, 255, 255, 0.8);}
}
